body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #112a34;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left {
    flex: 1;
    background-image: url('travel.avif'); 
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay h2 {
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #112a34;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
